{% extends 'base.html' %} {# This line tells Jinja that this template 
    should replace the {% block body %} in base.html with the contents of this template. #}

{% block head %}
    <title>deliberaide - Best Use</title>
{% endblock %}

{% block body %}
    <div style="text-align:center"> 
        <p>Unlock the power of your conversations with deliberAIde, your personal aide to simplify complex dialogues! 
            Begin your journey by typing or pasting a transcript into the dedicated text box. Your transcript can be as vast and multi-faceted as the conversation it represents. 
            Once your transcript is ready, it's time to tap into the true potential of deliberAIde.</p><br>

        <p>deliberAIde offers three different ways to explore your transcript: Topics, Viewpoints, and Arguments.</p><br>

        <p>To start, select 'Topics' by clicking the checkbox next to it. Watch as deliberAIde swiftly reads through your transcript and neatly condenses it into a mindmap of key topics. But don't stop there. 
            Illuminating the various perspectives within your conversation is just a checkbox away. 
            Select 'Viewpoints' and let deliberAIde sketch out a holistic view of the diverse opinions in your transcript. Dive even deeper with 'Arguments' and make the exploration of intricate discussions a breeze.</p>
            
        <br><p>With deliberAIde, embrace simplicity without compromising depth. Your transcripts are no longer overwhelming mountains of text, 
            but meaningful nuggets of knowledge waiting to be discovered. The power of informed decision-making is now just a few clicks away!</p>
    </div>
{% endblock %}