:root { font-family: 'Roboto', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Add this here */
  font-size: 62,5%;
}


#header {
    width: 100vw; /* Viewport Width (100% of the viewport width) */
    background-color: #4c5e71;
    padding: 20px; /* vertical padding */
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around; /* evenly space the elements across the header */
    align-items: center; /* vertically center the text */
    /* background: #f9f9f9; /* add a light grey background color */
    font-family: 'Inter', sans-serif;
}

#header a {
    color: #ffffff; /* a dark grey color */
    text-decoration: none; /* removes the underline */
    font-size: 20px; /* default font size */
}

#header a:hover {
    color: #666; /* a lighter grey color when you hover over the link */
}

/* Increase the font size of the deliberAIde link */
#header #deliberAIde {
    font-size: 30px; /* larger font size */
    font-weight: italic; /* make the font bold */
}

#header h1 {
    width: 100%;
    margin: 0;
    color: #ffffff;
}

#header p {
    width: 100%;
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}


body {
  /* height: 100vh;*/
  width: 100%;
  /*background: #05090b;*/ /* fallback for old browsers */
  background: linear-gradient(to right,#4c5e71, #4c5e71,#8a98a3, #9cacb4);
  display: flex;
  flex-direction: column; /* Stack the content vertically */
  min-height: 100vh; /* Make sure the body takes up the full viewport height */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  color: #fff;
}

#notificationModal {
    z-index: 1; /* Sit on top */
    padding-top: 12rem; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(155, 155, 155, 0.6); /* Black w/ opacity */
    color: #3d3c3c;
    font-family: 'Roboto', sans-serif;
}

#status-message {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

.form__group {
    margin: 0 auto; /* Horizontally center the element */
    margin-bottom: 10px; /* Add some space below the element */
    width: 90%; /* Adjust this value as per your needs */
}

.form__label {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
  transform: translateY(0rem);
}

.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.0rem;
	margin: 0 auto;
  padding: 1.5rem 2rem;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 90%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

status-message {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-left: 2rem;
    margin-top: 1.5rem;
    display: block;
    transition: all 0.3s;
    transform: translateY(0rem);
}

h1 {
    color: #ffffff;
}

.topics-checkbox + label {
    padding: 15px;
    border-width: 2px;
    font-size: larger;
}

/* Hide the checkbox */
input[type="checkbox"] {
    display: none;
}

/* This is your faux checkbox. */
input[type="checkbox"] + label {
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

/* This changes the appearance of the faux checkbox when it is checked. */
input[type="checkbox"]:checked + label {
    background-color: #4CAF50;
    color: white;
}

input[type="checkbox"]:checked + label {
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #4CAF50;
    color: white;
}

#viewpoints-filter, #arguments-filter {
    display: none;
}

.button {
    background-color: #0f40d6; /* Green */
    border: #010d7665;
    color: rgb(255, 255, 255);
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}

.main-button {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 25px; /* adjust this to make the button more rounded */
    background-color: #349bdb; /* adjust this to change the color of the button */
    transition: opacity 0.3s ease-in-out;
}
.main-button:active { /* :active pseudo-class selects the button when it's being clicked */
    background-color: #349bdb; /* A darker green */
    transform: scale(0.95); /* Makes the button slightly smaller */
    transition: all 0.2s; /* Smoothens the transition */
}


#operationMessage {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: #ffffff;
}
/*
@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);
    }
    40% {
        color: white;
        text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);
    }
    60% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0,0,0,0);
    }
    100%, 80% {
        text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;
    }
} */

#operationMessage:after {
    content: ' .';
    font-size: 2em;
    animation: dots 1s steps(5, end) infinite;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-field:focus {
    border: 3px solid #555;
}

.container {
    width: 80%;
    margin: auto;
}

.mermaid {
    width: 100%;
    height: auto;
    max-width: 1500px; /* Or whatever size you want*/
    margin: 0 auto;   /* This centers the diagram*/
    margin-top: 100px;  /* Adjust this for the top output */
    font-size: 100px;  /*Change the font size*/
}


.footer {
    background-color: #2d2d2d;
    font-size: 13px;
    padding: 10px;
    text-align: center;
    margin-top: auto; /* Push the footer down to the bottom */
  }


  .footer p {
    margin: 0;
  }
