body {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffffff;
}

.button {
    background-color: #73bd76; /* Green */
    border: #313131;
    color: rgb(255, 255, 255);
    padding: 30px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    cursor: pointer;
}

.input-field {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.input-field:focus {
    border: 3px solid #555;
}

.container {
    width: 80%;
    margin: auto;
}

.mermaid {
    width: 100%;
    height: auto;
    max-width: 1500px; /* Or whatever size you want*/  
    margin: 0 auto;   /* This centers the diagram*/  
    font-size: 100px;  /*Change the font size*/
}

/* Hide the checkbox */
input[type="checkbox"] {
    display: none;
}

/* This is your faux checkbox. */
input[type="checkbox"] + label {
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

/* This changes the appearance of the faux checkbox when it is checked. */
input[type="checkbox"]:checked + label {
    background-color: #4CAF50;
    color: white;
}

